{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuń Samochód</title>
    <link rel="stylesheet" href="{% static 'szkola_jazdy/css/style.css' %}">
    <script src="{% static 'szkola_jazdy/js/delete_car.js' %}" defer></script>
</head>
<body>
    <h1>Usuń Samochód</h1>
    <form id="deleteCarForm">
        <label for="registrationNumber">Numer Rejestracyjny:</label>
        <input type="text" id="registrationNumber" name="registrationNumber" placeholder="Wprowadź numer rejestracyjny" required>
        <button type="submit">Usuń Samochód</button>
    </form>
    <div id="responseMessage"></div>
</body>
</html>
