{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna Administratora</title>
    <link rel="stylesheet" href="{% static 'szkola_jazdy/css/style.css' %}">
    <script src="{% static 'szkola_jazdy/js/Hadmin.js' %}"></script>
</head>
<body>

    <!-- Nagłówek -->
    <header>
        <div class="navbar">
            <h1>Strona Główna Administratora</h1>
        </div>
    </header>

    <!-- Sekcja Hero -->
    <section class="hero">
        <h2>Witaj, Administratorze!</h2>
        <p>Wybierz jedną z poniższych opcji, aby zarządzać systemem.</p>
    </section>

    <!-- Główna zawartość -->
    <main>
        <h2>Zarządzanie:</h2>
        <ul>
            <li><a href="{% url 'modify_user' 'example@example.com' %}">Modyfikacja użytkownika</a></li>
            <li><a href="{% url 'modify_room' nazwa='nazwa_sali' %}">Modyfikacja sali</a></li>
            <li><a href="{% url 'modify_car' 'ABC123' %}">Modyfikacja samochodów</a></li>
            <li><a href="{% url 'add_car' %}">Dodawanie samochodów</a></li>
            <li><a href="{% url 'add_room' %}">Dodawanie sali</a></li>
            <li><a href="{% url 'delete_car' 'EXAMPLE123' %}">Usuwanie samochodów</a></li>
            <li><a href="{% url 'delete_room' nazwa='nazwa_sali' %}">Usuwanie sali</a></li>
            <li><a href="#">Dodawanie użytkowników (NIE MAMY TEGO W BACKEDNDZIE, CHYBA PIERDOLIMY XD)</a></li>
            <li><a href="{% url 'delete_user' email='example@example.com' %}">Usuwanie użytkownika</a></li>

        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Szkoła Jazdy</p>
    </footer>
</body>
</html>
