{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna Administratora</title>
    <link rel="stylesheet" href="{% static 'szkola_jazdy/css/style.css' %}">
    <script src="{% static 'szkola_jazdy/js/Hadmin.js' %}"></script>
</head>
<body>

    <!-- Nagłówek -->
    <header>
        <div class="navbar">
            <h1>Strona Główna Administratora</h1>
        </div>
    </header>

    <!-- Sekcja Hero -->
    <section class="hero">
        <h2>Witaj, Administratorze!</h2>
        <p>Wybierz jedną z poniższych opcji, aby zarządzać systemem.</p>
    </section>

    <!-- Główna zawartość -->
    <main>
        <h2>Zarządzanie:</h2>
        <ul>
            <li><button onclick="navigateTo('modyfikacja_pracownikow.html')">Modyfikacja pracowników</button></li>
            <li><button onclick="navigateTo('modyfikacja_uzytkownikow.html')">Modyfikacja użytkowników</button></li>
            <li><button onclick="navigateTo('modyfikacja_sali.html')">Modyfikacja sali</button></li>
            <li><button onclick="navigateTo('modyfikacja_samochodow.html')">Modyfikacja samochodów</button></li>
            <li><button onclick="navigateTo('dodawanie_samochodow.html')">Dodawanie samochodów</button></li>
            <li><button onclick="navigateTo('dodawanie_sali.html')">Dodawanie sali</button></li>
            <li><button onclick="navigateTo('usuwanie_samochodow.html')">Usuwanie samochodów</button></li>
            <li><button onclick="navigateTo('usuwanie_sali.html')">Usuwanie sali</button></li>
            <li><button onclick="navigateTo('dodawanie_uzytkownikow.html')">Dodawanie użytkowników</button></li>
            <li><button onclick="navigateTo('usuwanie_uzytkownikow.html')">Usuwanie użytkowników</button></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Szkoła Jazdy</p>
    </footer>
</body>
</html>
