{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna Instruktora</title>
    <link rel="stylesheet" href="{% static 'szkola_jazdy/css/style.css' %}">
</head>
<body>

    <!-- Nagłówek -->
    <header>
        <div class="navbar">
            <h1>Strona Główna Instruktora</h1>
        </div>
    </header>

    <!-- Sekcja Hero -->
    <section class="hero">
        <h2>Witaj, Instruktorze!</h2>
        <p>Przejdź do podstrony zarządzania zajęciami, aby rozpocząć.</p>
        <ul>
            <li><a href="{% url 'add_zajęcia' %}">Dodaj Zajęcia</a></li>
            <li><a href="{% url 'usun_zajecia' zajęcia_id=1 %}">Usuń Zajęcia</a></li>
        </ul>
    </section>

    <!-- Główna zawartość -->
    <main>
        <h2>Twoje zadania:</h2>
        <ul>
            <li>Przygotowanie materiałów do zajęć</li>
            <li>Komunikacja z kursantami</li>
            <li>Zarządzanie harmonogramem zajęć</li>
        </ul>
    </main>

    <!-- Stopka -->
    <footer>
        <p>&copy; 2024 Szkoła Jazdy</p>
    </footer>

</body>
</html>
