{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{% static 'szkola_jazdy/css/style.css' %}">
</head>
<body>
<header>
    <h1>Logowanie</h1>
</header>
<main>
    <form id="loginForm">
        <p><label for="email">Email:</label></p>
        <input type="email" id="email" name="email" required>
        <p><label for="password">Hasło:</label></p>
        <input type="password" id="password" name="password" required>
        <p><button type="submit">Zaloguj</button></p>
    </form>
         <nav>
            <a href="{% url 'home' %}">
                <button type="button" id="idk">Strona główna</button>
            </a>
        </nav>
</main>
<script src="{% static 'szkola_jazdy/js/login.js' %}"></script>
</body>
</html>
