{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj opinię</title>
    <link rel="stylesheet" href="{% static 'szkola_jazdy/css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Szkoła Jazdy - Opinie</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'loggedin' %}">Strona Główna</a></li>
                    <li><a href="{% url 'login' %}">Wylogowanie</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <form id="opiniaForm">
            <label for="opinia">Twoja opinia:</label>
            <textarea id="opinia" name="opinia" rows="5" placeholder="Wpisz swoją opinię tutaj..."></textarea>
            <button type="submit">Wyślij</button>
        </form>
        <div id="responseMessage" style="margin-top: 20px; display: none;"></div>

        <section id="opinieSection" style="margin-top: 40px;">
            <h2>Opinie innych użytkowników:</h2>
            <ul id="opinieList">
                <!-- Opinie będą tutaj wstawiane dynamicznie -->
            </ul>
        </section>
    </main>
    <script src="opinie.js"></script>
</body>
</html>
